argcomplete==3.6.2
certifi==2025.4.26
crc32c==2.7.1
dxpy==0.396.0
et_xmlfile==2.0.0
iniconfig==2.1.0
numpy==2.3.0
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
psutil==7.0.0
Pygments==2.19.1
pytest==8.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
urllib3==2.1.0
websocket-client==1.7.0
